{% extends 'dash/config.html' %}
{% load static %}
{% block contents %}
<style>
    .input:focus{
    outline: none;
}
</style>
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Binary Agent Withdraw</h3>
    </div>
    <div class="page-content">
        <section class="row">
   
            <div class="col-12 col-lg-10">
        
                <div class="row">
                    <div class="col-12">
                        {% if messages %}
                        {% for message in messages %}
        
                          {% if message.tags == 'success' %}
                            <div id="noto" class="alert alert-success text-center mb-3 " role="alert">
                            {{message}}
                            </div>
                          {% endif %}
        
                          {% if message.tags == 'info' %}
                          <div id="noto" class="alert alert-info text-center mb-3 " role="alert">
                          {{message}}
                          </div>
                        {% endif %}
        
                        {% if message.tags == 'warning' %}
                        <div id="noto" class="alert alert-warning text-center mb-3 " role="alert">
                        {{message}}
                        </div>
                       {% endif %}
        
                          {% if message.tags == 'error' %}
                            <div id="noto" class="alert alert-danger text-center mb-3 text-dark " role="alert">
                            {{message}}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h4>Withdraw with Binary</h4>
                            </div>
                            <div class="card-body">
                               <div class="row">
                                   <div class="col-md-4 mb-3">
                                        <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                            <div class="mt-3 mb-3" style="margin-left:10px;">
                                                <img style="height:50px; width:50px;"  src="{% static 'assets/img/btc.png' %}" alt="">
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div class="mt-3 mb-3" style="width:200px;" >
                                                <span>Bitcoin <b>BTC</b></span> <br>
                                                <span>0.000</span>
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div style="margin-left:-100px; width:100px" class="mt-3 mb-3" >
                                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                        <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                            <div class="mt-3 mb-3" style="margin-left:10px;">
                                                <img style="height:50px; width:50px;"  src="{% static 'assets/img/eth.png' %}" alt="">
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div class="mt-3 mb-3" style="width:200px;" >
                                                <span>Ethereum <b>ETH</b></span> <br>
                                                <span>0.000</span>
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div style="margin-left:-95px; width:100px" class="mt-3 mb-3" >
                                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="col-md-4 mb-3">
                                        <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                            <div class="mt-3 mb-3" style="margin-left:10px;">
                                                <img style="height:50px; width:50px;"  src="{% static 'assets/img/usdt.png' %}" alt="">
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div class="mt-3 mb-3" style="width:200px;" >
                                                <span>USDT <b>USTD</b></span> <br>
                                                <span>0.000</span>
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div style="margin-left:-100px; width:100px" class="mt-3 mb-3" >
                                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                            <div class="mt-3 mb-3" style="margin-left:10px;">
                                                <img style="height:50px; width:50px;"  src="{% static 'assets/img/ltc.png' %}" alt="">
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div class="mt-3 mb-3" style="width:200px;" >
                                                <span>Litecoin <b>LTC</b></span> <br>
                                                <span>0.000</span>
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div style="margin-left:-100px; width:100px" class="mt-3 mb-3" >
                                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                            <div class="mt-3 mb-3" style="margin-left:10px;">
                                                <img style="height:50px; width:50px;"  src="{% static 'assets/img/dodge.png' %}" alt="">
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div class="mt-3 mb-3" style="width:200px;" >
                                                <span>Dodge <b>DODGE</b></span> <br>
                                                <span>0.000</span>
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div style="margin-left:-90px; width:100px" class="mt-3 mb-3" >
                                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                        <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                            <div class="mt-3 mb-3" style="margin-left:10px;">
                                                <img style="height:50px; width:50px;"  src="{% static 'assets/img/usdc.png' %}" alt="">
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div class="mt-3 mb-3" style="width:200px;" >
                                                <span>USDC <b>USDC</b></span> <br>
                                                <span>0.000</span>
                                            </div>
                                            <div style="width:10px;" ></div>
                                            <div style="margin-left:-100px; width:100px" class="mt-3 mb-3" >
                                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                            </div>
                                        </div>
                                    </div>

                               </div>
                               <div class="row mt-3">
                                <div class="col-md-12 mb-3">
                                    <div style="display: inline-flex; border: 1px solid grey; border-radius: 8px;">
                                        <div class="mt-4 mb-3" style="margin-left:10px;">
                                            <img style="height:50px; width:50px;"  src="{% static 'assets/img/cards.svg' %}" alt="">
                                        </div>
                                        <div style="width:10px;" ></div>
                                        <div class="mt-3 mb-2" style="width:500px;" >
                                            <span>Withdraw Via Bank, Mobile Money</span> <b class="ml-4" >Balance:{{balance}}</b> <br>
                                             <p>
                                                Please do not share your bank account, 
                                                credit card, or e-wallet with another client, as this may cause delays in your withdrawals.</p>
                                        </div>
                                        <div style="width:10px;" ></div>
                                        <div style="margin-left:30px; width:100px" class="mt-4 mb-3" >
                                            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary rounded-pill btn-sm mt-2 " >Withdraw</button>
                                        </div>
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You are About to make withdraw</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'binary_agent_withdraw' %}" method="post">
              {% csrf_token %}
              <input id="amount" style="height:50px;" type="number" name="amount" class="form-control mb-3" placeholder="Amount to withdraw">
              <select style="height: 50px;" name="currency" id="currency" class="form-control mb-3" >
                  <option value="0">Select Currency</option>
                  <option value="USD">USD</option>
                  <option value="BTC">BTC</option>
                  <option value="ETH">ETH</option>
                  <option value="USDT">USDT</option>
                  <option value="LTC">LTC</option>
              </select>
              <label for="">Click <b>Get Code button</b>You will recieve code to email you registed an account with</label>
            <div style=" width: 100%; border:1px solid #dddddd; display: inline-flex;" >
              
                <input style="height:50px;width:80%; border: none;" name="code" type="text" class="form-control input" placeholder="Enter verification code">
                <input type="hidden" id="email" name="email" value="{{request.user.email}}">
                <button id="code" style="height: 50px; width: 20%;" class="btn btn-primary btn-sm" ><b id="txt">Get Code</b> 
                    <img style="display:none;" id="img" height="30" width="30" src="{% static 'assets/img/loader.gif' %}" alt=""></button>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button id="submit" style="width:100%; height: 50px;" type="submit" class="btn btn-primary rounded-pill">
                    <b id="txt2" >Continue to Withdraw</b>
                    <img style="display:none;" id="img2" height="30" width="30" src="{% static 'assets/img/loader.gif' %}" alt="">
                </button>
              </div>
          </form>
        </div>
      
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
      $(document).on('click', "#code", function(e){
        e.preventDefault()
        $.ajax({
            type:"POST",
            url: '{% url "verify" %}',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                email:$('#email').val(),
                type:'paymentagent_withdraw'
                
            },
            beforeSend:function(){
                $('#img').show()
                $('#txt').hide()
            },
            complete: function() {
                $("#img").hide();
                $('#txt').show()
            },
            success: function(response){
                console.log(response)
                if (response.success){
                    $('#txt').text('Code Sent')
                    $('#txt').css('color','green')
                }else{
                    $('#txt').text('Error')
                $('#txt').css('color','red')
                }
            },
            error: function(error){
                console.log(error)
            }
        })
      })
      $(document).on('click', '#submit', function(){
        $("#img2").show();
        $('#txt2').hide()
      })

      $('#noto').delay(5000).fadeOut('slow');
  </script>
  

    {% endblock contents %}