{% extends 'dash/config.html' %}
{% load static %}
{% block contents %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Welcome to your Dashboard</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
        
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>List Of Deposits</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="deposit-item">
                                            <span class="text-center" >ETH</span>
                                             <img src="{% static 'assets/img/eth.png' %}" alt="">
                                             <div class="buttons" >
                                                <button class=" btn btn-primary rounded-pill "> Deposit</button>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="deposit-item">
                                            <span class="text-center" >BTC</span>
                                             <img src="{% static 'assets/img/btc.png' %}" alt="">
                                             <div class="buttons" >
                                                <button class=" btn btn-primary rounded-pill"> Deposit</button>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="deposit-item">
                                            <span class="text-center" >USDC</span>
                                             <img src="{% static 'assets/img/usdc.png' %}" alt="">
                                             <div class="buttons" >
                                                <button class=" btn btn-primary rounded-pill "> Deposit</button>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="deposit-item">
                                           
                                             <img src="{% static 'assets/img/usdt.png' %}" alt="">
                                             <div class="buttons" >
                                                <button class=" btn btn-primary rounded-pill "> Deposit</button>
                                                <span class="text-center" >USDT</span>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="deposit-item">
                                           
                                             <img src="{% static 'assets/img/dodge.png' %}" alt="">
                                             <div class="buttons" style="display: block;">
                                                <button class=" btn btn-primary rounded-pill "> Deposit</button>
                                                <div></div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Ads Section</h4>
                    </div>
                    <div class="card-body">
                        No New Ad Added for now
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% endblock contents %}