{% extends 'dash/config.html' %}
{% load static %}
{% block contents %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Welcome to your Dashboard</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Pairs</h4>
                    </div>
                    <div class="card-body" style="max-height: 550px; overflow-y: scroll;">
                       
                        {% for data in pair %}
                          
                        <div class="row wallet mb-3" >
                            <div class="col-md-12 walet-info" style="margin-left:60px;">
                                <div class="coin-header">
                                    <h6>{{data.instrument_id}}</h6>
                                    {{data.min_size}}
                                </div>
                                <div class="coin-balance">
                                 
                                </div>
                                <div class="actions">
                                    <form action="#" method="post" >
                                        {# csrf_token #}
                                        <input type="hidden" name="currency" value="{{data.base_currency}}">
                                        <button type="submit" class="btn btn-primary btn-sm rounded-pill" >Swap</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                           
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
        
                <div class="row">
                    <div class="col-12">
                        {% if messages %}
                        {% for message in messages %}
                          {% if message.tags == 'success' %}
                            <div class="alert alert-success text-center mb-3 " role="alert">
                            {{message}}
                            </div>
                          {% endif %}
                          {% if message.tags == 'info' %}
                          <div class="alert alert-info text-center mb-3 " role="alert">
                          {{message}}
                          </div>
                         {% endif %}
                         {% if message.tags == 'warning' %}
                         <div class="alert alert-warning text-center mb-3 " role="alert">
                         {{message}}
                         </div>
                        {% endif %}
                          {% if message.tags == 'error' %}
                            <div class="alert alert-danger text-center mb-3 " role="alert">
                            {{message}}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h4>Swapping History</h4>
                               
                            </div>
                            <div class="card-body">

                               <!-- <div style="display: inline-flex;" >
                                    <div style="width:100px; text-align: center;" >
                                        <h6 style="border-bottom: 2px solid green; padding-bottom:10px; color: green;" >By BTC</h6>
                                    </div>

                                    <div style="width:100px; text-align: center; margin-left: 50px;" >
                                        <h6 style="border-bottom: 2px solid red; padding-bottom:10px; color: red;" >Sell BTC</h6>
                                    </div>
                               </div>

                               <div class="swap-form mt-3 mb-3" style="width: 250px;">

                                    <form action="">
                                        <select name="type" id="" class="form-control mb-3" >
                                            <option value="0">Oder Type</option>
                                            <option value="limit">Limit Order</option>
                                            <option value="market">Market Order</option>
                                        </select>
                                        <input class="form-control mb-3" type="text" placeholder="price(USD) 12.000">
                                        <input class="form-control mb-3" type="text" placeholder="amout ()">                                    </form>
                               </div> -->
                       
                                <table class="table" >
                                    <thead>
                                        <!-- <th>#</th> -->
                                        <th>Amount</th>
                                        <th>To</th>
                                        <th>Chain</th>
                                        <th>Currency</th>
                                        <th>Date</th>
                                    </thead>
                                    <tbody>
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </section>
    </div>

    {% endblock contents %}