<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyX</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/aos/aos.css' %}">
    
</head>
<body>
    <header>
        <nav class="nav">
           <ul>
               <li>
                   <a href="{% url 'home' %}">
                       <!-- <img style="height: 40px; width: 40px;" src="" alt=""> -->
                       MoneyX
                   </a>
                </li>
                <li><a href="">Exchange</a></li>
                <li><a href="">More</a></li>
           </ul>
           <div class="right-nav-items">
               <li><a href="">About Us</a></li>
               <li><a href="">Contact Us</a></li>
               {% if user.is_authenticated %}
               <li><a class=" auth-btn btn btn-outline-primary rounded-pill" href="{% url 'dash' %}">Dashboard</a></li>
               {% else %}
               <li><a class=" auth-btn btn btn-outline-primary rounded-pill" href="{% url 'login' %}">Get Started</a></li>
               {% endif %}
           </div>
        </nav>
        <div class="bottom-line">.</div>
    </header>

    {% block contents %}
    {% endblock contents %}




    {% block footer %}
    <div class="footer">
        <div class="row" >
            <div class="col-md-3">
                <div class="socials">
                    <ul>
                        <li><a href=""><i class="fa fa-linkedin" ></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" ></i></a></li>
                        <li><a href=""><i class="fa fa-instagram" ></i></a></li>
                        <li><a href=""><i class="fa fa-facebook-square" ></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <p>&copy; All right reserved MoneyX 2022</p>
            </div>
        </div>
    </div>
    {% endblock footer %}
</main>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" ></script>
<script src="{% static 'assets/aos/aos.js' %}"></script>
<script src="{% static 'assets/apexchart.js' %}"></script>
<script src="{% static 'assets/dashboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'assets/main.js' %}" ></script>


<script>
const labels = [
'min_size',
'size_incriment',
'tick_size'
];

const data = {
labels: labels,
datasets: [{
  label: 'ETH BTC Exchange',
  backgroundColor: 'rgb(92, 184, 92)',
  borderColor: 'rgb(92, 184, 92)',
  data: [0, 0.004, 0.005, 0.01, 0.02, 0.03, 0.04, 0.05],
}]
};

const config = {
type: 'line',
data: data,
options: {}
};

const myChart = new Chart(
document.getElementById('myChart'),
config
);
</script>

<script>
const labels2 = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];

const data2 = {
  labels: labels,
  datasets: [{
    label: 'BTC ETH Exchange',
    backgroundColor: 'rgb(217, 83, 79)',
    borderColor: 'rgb(217, 83, 79)',
    data: [50, 48, 45, 30, 20, 10, 5],
  }]
};

const config2 = {
  type: 'line',
  data: data2,
  options: {}
};

const myChart2 = new Chart(
  document.getElementById('myChart2'),
  config2
);
</script>

<script>
const labels3 = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];

const data3 = {
  labels: labels,
  datasets: [{
    label: 'ETH BTC Exchange',
    backgroundColor: 'rgb(92, 184, 92)',
    borderColor: 'rgb(92, 184, 92)',
    data: [0, 10, 5, 2, 20, 30, 45],
  }]
};

const config3 = {
  type: 'line',
  data: data3,
  options: {}
};

const myChart3 = new Chart(
  document.getElementById('myChart4'),
  config3
);
</script>


<script>
  const labels4 = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data4 = {
    labels: labels,
    datasets: [{
      label: 'BTC ETH Exchange',
      backgroundColor: 'rgb(217, 83, 79)',
      borderColor: 'rgb(217, 83, 79)',
      data: [50, 48, 45, 30, 20, 10, 5],
    }]
  };

  const config4 = {
    type: 'line',
    data: data4,
    options: {}
  };

  const myChart4 = new Chart(
    document.getElementById('myChart3'),
    config4
  );
</script>



</html>

