.deposit-item{
    /* background-color: rgb(201, 201, 201); */
    display: inline-flex;
    height: auto;
    width: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgb(236, 236, 236); */
    margin-bottom: 50px;
    
  }
  
  .deposit-item img{
    height: 70px;
    width: 70px;
    margin: 20px;
  }
  /* .deposit-item span{
      margin-top: 40px;
      margin-left: 20px;
      font-weight: 900;
  } */

  .buttons{
    display: block;
    margin-top: 34px;
    margin-right: 20px;
  }
  .wallet{
    margin-left: -80px;
  }

  .wallet-img img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 80px;
  }

  .coin-header{
    display: inline-flex;
    margin-left: 25%;
  }

  .coin-header span{
     margin-left: 10px;
  }
  .coin-balance span{
    margin-left: 25%;
    font-size: 20px;
  }
  .actions button{
    margin-top: 10px;
    width: 100%;
  }