{% extends 'base.html' %}
{% load static %}

{% block hero %}
{% endblock hero %}
{% block contents %}

<style>
    #header{
        display: none;
    }
    .breadcrumbs{
        margin-top: 0;
    }

</style>



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Password Reset</li>
          </ol>
          <h2>Password Reset</h2>

      </div>
    </section><!-- End Breadcrumbs -->

       <!-- ======= Contact Section ======= -->
       <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">
            
          <header class="section-header">
            <div class="row">
            <center>
                <div class="col-md-4">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                
                            </div>
                
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div id="noto" style="width: 100%;"  class="justify-content-start alert alert-success alert-dismissible fade show" role="alert">
                                {{message}}
                               
                            </div>
                
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </center>
            </div>
            <!-- <h2>Login</h2> -->
            <p>Password Reset</p>
          </header>
  
          <div class="row gy-4 text-center">
  
            <!-- <div class="col-lg-6">
  
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>255 DSM Street,<br>Tanzania Dsm</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+255 1234567<br>+255 123456</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br>contact@example.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                  </div>
                </div>
              </div>
  
            </div> -->
            <center>
                <div class="col-lg-4">
                  <form action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}

                    <div class="row gy-4">
      
                      <div class="col-md-12 mb-3">
                        <input style="height: 50px;" type="email" name="email" class="form-control" placeholder="Enter Your Email" required>
                      </div>
                    </div>
      
                    <div class="row gy-4 mb-3">
                      <div class="col-md-12 text-center">
                        <button style="width: 100%;" class="btn btn-primary btn-lg rounded-pill" type="submit">Reset Now</button>
                      </div>
                    </div>

                    </div>
                  </form>
                  
      
                </div></center>
  
          </div>
  
        </div>
  
      </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $('#noto').delay(5000).fadeOut('slow');
  </script>

{% endblock contents %}

{% block footer %}
{% endblock footer %}
