{% extends 'base.html' %}
{% load static %}

{% block hero %}
{% endblock hero %}
{% block contents %}

<style>
    #header{
        display: none;
    }
    .breadcrumbs{
        margin-top: 0;
    }

</style>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Password Reset</li>
        </ol>
        <h2>Password Reset Done</h2>

      </div>
    </section><!-- End Breadcrumbs -->

       <!-- ======= Contact Section ======= -->
       <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">
            
          <header class="section-header">
            <div class="row">
            <center>
                <div class="col-md-4">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                
                            </div>
                
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div id="noto" style="width: 100%;"  class="justify-content-start alert alert-success alert-dismissible fade show" role="alert">
                                {{message}}
                               
                            </div>
                
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </center>
            </div>
            <!-- <h2>Login</h2> -->
            <p>Password Reset</p>
          </header>
  
          <div class="row gy-4 text-center">
  
     
            <center>
                <div class="col-lg-6">
                    <div class="alert alert-success" role="alert">
                        Your Password has been set you can now  <a style="font-weight: bolder;" class="forgot-links" href="{% url 'login' %}">Login</a> with new password
                      </div>
                </div>
            </center>
  
          </div>
  
        </div>
  
      </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $('#noto').delay(5000).fadeOut('slow');
  </script>

{% endblock contents %}

{% block footer %}
{% endblock footer %}
