{% extends 'base.html' %}
{% load static %}

{% block contents %}

<main>
  
  <div class="row ">
  
      <div class="col-md-4">
          <div class="sidenav" >
              <li class="side-link" >Exchange</li>
              <li class="side-link" >Buy</li>
              <li class="side-link" >Sell</li>
          </div>
         <div class="up-btn">
          <button class="btn btn-outline-primary rounded-pill" >Scroll Top <i class="fa fa-long-arrow-up ml-1" ></i></button>
          <br> <br>
          <span class="text-white mr-2" >The best crypto <br> exchnage platfom</span>
          <br> <br>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <span class="text-white ml-1" >5.0</span>
         </div>
      </div>
      <div class="col-md-6  ">
          <div class="contents">
              <div class="row exch" data-aos="fade-up">
                  <div class="col-md-10">
                    <div class="alert alert-info" role="alert">
                      A email has been sent to reset your password be sure to check your spam folder if you don't find it in your inbox
                    </div>
                  </div>
                 
              </div>

          </div>
      </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $('#noto').delay(5000).fadeOut('slow');
  </script>
 
{% endblock contents %}

{% block footer %}
{% endblock footer %}