{% extends 'base.html' %}
{% load static %}

{% block contents %}

<main>
  
  <div class="row ">
  
      <div class="col-md-4">
          <div class="sidenav" >
              <li class="side-link" >Exchange</li>
              <li class="side-link" >Buy</li>
              <li class="side-link" >Sell</li>
          </div>
         <div class="up-btn">
          <button class="btn btn-outline-primary rounded-pill" >Scroll Top <i class="fa fa-long-arrow-up ml-1" ></i></button>
          <br> <br>
          <span class="text-white mr-2" >The best crypto <br> exchnage platfom</span>
          <br> <br>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <span class="text-white ml-1" >5.0</span>
         </div>
      </div>
      <div class="col-md-6  ">
          <div class="contents">
              <div class="row exch" data-aos="fade-up">
                  <div class="col-md-10">
                    {% if messages %}
                      {% for message in messages %}
                          {% if message.tags == 'error' %}
                          <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
                              {{message}}   
                          </div>
                          {% endif %}
                          {% if message.tags == 'success' %}
                          <div id="noto" style="width: 100%;"  class="justify-content-start alert alert-success alert-dismissible fade show" role="alert">
                              {{message}}
                          </div>
                          {% endif %}
                      {% endfor %}
                    {% endif %}
                      <div class="login" >
                        <form action="{% url 'password_reset' %}" method="post">
                          {% csrf_token %}
      
                          <div class="row gy-4">
                            <div class="col-md-12 mb-3">
                              <input style="height: 50px;" type="email" name="email" class="form-control" placeholder="Enter Your Email" required>
                            </div>
                          </div>
            
                          <div class="row gy-4 mb-3">
                            <div class="col-md-12 text-center">
                              <button style="width: 100%;" class="btn btn-primary btn-lg rounded-pill" type="submit">Reset Now</button>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-6">
                                <span class="text-white" >Remember you password? <a href="{% url 'login' %}"><b>Login here</b></a></span>
                            </div>
                            <div class="col-md-6">
                              <span class="text-white" >Don't have an account? <a  href="{% url 'register' %}"><b>Register here</b></a></span>
                          </div>
                        </div>
                          </div>
                       
                        </form>
                      </div>
                  </div>
                  <!-- <div class="col-md-6">
                      <div class="headline">
                          <h2>Exchange any <br> crypto <br> instantly.</h2>
                          <span>Exchange Bitcoin and 200+ altcoins in a fast, simple and secure way.</span>
                          <div class="app-stores" style="display: inline-flex;">
                              <img height="50" width="100" src="../static/assets3/img/gp.svg" alt="">
                              <img height="50" width="100" src="../static/assets3/img/apple.svg" alt="">
                              <img height="50" width="100" src="../static/assets3/img/apk.svg" alt="">
                          </div>
                      </div>
                  </div> -->
              </div>

          </div>
      </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $('#noto').delay(5000).fadeOut('slow');
  </script>
 
{% endblock contents %}

{% block footer %}
{% endblock footer %}