{% extends 'dash/config.html' %}
{% load static %}
{% block sidebar%}
{% endblock sidebar %}
{% block contents %}
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-8 col-12 mt-5">
                <div id="auth-left" style="width: 60%; margin-left: 40%;" >
                    <div class="auth-logo">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">Register.</h1>

                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}

                        {% if request.GET.next %}
                        <input type="hidden" class="form-control" name="next" value="{{request.GET.next}}">
                        {% endif %}

                        <div class="form-group position-relative has-icon-left mb-4">
                            <input name="username" type="text" class="form-control form-control-xl" placeholder="Username">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input name="email" type="email" class="form-control form-control-xl" placeholder="Email">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input name="password1" type="password" class="form-control form-control-xl" placeholder="Password">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input name="password2" type="password" class="form-control form-control-xl" placeholder="Confirm Password">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-check form-check-lg d-flex align-items-end">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-gray-600" for="flexCheckDefault">
                                show password
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
                    </form>
                    <div class="text-center mt-5 text-lg fs-4">
                        <p class="text-gray-600">Don't have an account? <a href=""
                                class="font-bold">Sign
                                up</a>.</p>
                        <p><a class="font-bold" href="">Forgot password?</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
        </div>

        {% endblock contents %}

        {% block footer %}
        {% endblock footer %}
