{% extends 'base.html' %}
{% load static %}

{% block contents %}

<main>
  
  <div class="row ">
  
      <div class="col-md-4">
          <div class="sidenav" >
              <li class="side-link" >Exchange</li>
              <li class="side-link" >Buy</li>
              <li class="side-link" >Sell</li>
          </div>
         <div class="up-btn">
          <button class="btn btn-outline-primary rounded-pill" >Scroll Top <i class="fa fa-long-arrow-up ml-1" ></i></button>
          <br> <br>
          <span class="text-white mr-2" >The best crypto <br> exchnage platfom</span>
          <br> <br>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <i class="fa fa-star-o text-primary" ></i>
          <span class="text-white ml-1" >5.0</span>
         </div>
      </div>
      <div class="col-md-6  ">
          <div class="contents">
              <div class="row exch" data-aos="fade-up">
                  <div class="col-md-10">

                    {% if messages %}
                      {% for message in messages %}
                          {% if message.tags == 'error' %}
                          <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
                              {{message}} 
                          </div>
                          {% endif %}
                          {% if message.tags == 'success' %}
                          <div id="noto" style="width: 100%;"  class="justify-content-start alert alert-success alert-dismissible fade show" role="alert">
                              {{message}}
                          </div>
                          {% endif %}
                      {% endfor %}
                    {% endif %}

                      {% if form.errors %}
                          <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
                              {% for field in form %}
                                  {% if field.errors %}
                                  <span >-{{ field.errors|striptags }} <br></span>
                                  {% endif %}
                              {% endfor %}
                          </div>
                      {% endif %}

                      <div class="login" >
                        <form action="{% url 'register' %}" method="post">
                          {% csrf_token %}
      
                          {% if request.GET.next %}
                          <input type="hidden" class="form-control" name="next" value="{{request.GET.next}}">
                          {% endif %}
                          <div class="row gy-4">
            
                            <div class="col-md-6 mb-3">
                              <input style="height: 50px;" type="text" name="username" class="form-control" placeholder="Username" required>
                            </div> 
      
                            <div class="col-md-6 mb-3">
                              <input style="height: 50px;" type="email" name="email" class="form-control" placeholder="Email" equired>
                            </div>
      
                            <div class="col-md-6 mb-3">
                              <input style="height: 50px;" type="password" name="password1" class="form-control" placeholder="Password" required>
                            </div>
      
                            <div class="col-md-6 ">
                              <input style="height: 50px;" type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                            </div>
                          </div>
                         
            
                           
                          <div class="row gy-4 mb-3">
                            <div class="col-md-12 text-center">
                              <button style="width: 100%;" class="btn btn-primary btn-lg rounded-pill" type="submit">Register Now</button>
                            </div>
                          </div>
      
                          <div class="row mt-3">
                              <div class="col-md-6">
                                  <span class="text-white" >Already have an account? <a href="{% url 'login' %}"><b>Login here</b></a></span>
                              </div>
                              <div class="col-md-6">
                                <span class="text-white" >Forgot Your Password? <a href=""><b>Reset here</b></a></span>
                            </div>
                          </div>
            
                          </div>
                        </form>
                        
                      </div>
                  </div>
                  <!-- <div class="col-md-6">
                      <div class="headline">
                          <h2>Exchange any <br> crypto <br> instantly.</h2>
                          <span>Exchange Bitcoin and 200+ altcoins in a fast, simple and secure way.</span>
                          <div class="app-stores" style="display: inline-flex;">
                              <img height="50" width="100" src="../static/assets3/img/gp.svg" alt="">
                              <img height="50" width="100" src="../static/assets3/img/apple.svg" alt="">
                              <img height="50" width="100" src="../static/assets3/img/apk.svg" alt="">
                          </div>
                      </div>
                  </div> -->
              </div>

          </div>
      </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $('#noto').delay(5000).fadeOut('slow');
  </script>
 
{% endblock contents %}

{% block footer %}
{% endblock footer %}
